/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
  /* for Mobile View */
  /**
        **Wallpaper #Homepage
        */

  .wallpaper-container {
    background-size: cover;
  }

  .homepage {
    width: 100%;

    text-align: end;

  }

  .homepage h1 {
    font-size: 24px;

  }

  /* .wallpaper-container {
    background-size: cover;
    height: 90vh;
    width: 100vw;
  } */

  .skill-card {
    overflow: visible;
    padding: 0.05em;
    background-color: beige;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }

  .skill-image {
    object-fit: fill;
    border-radius: var(--units-unit-0, 1em);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 4rem;

    margin: 20px;
  }

  /**
  **Wallpaper #Homepage
  */
  /* /******************************************************************************* */
  /**
  **About me Container
  */
  .head h1 {
    margin: auto;
    color: rgb(255, 210, 167);
    justify-items: center;
    font-size: 2.5em;
    margin-top: 5vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  .about-details h3 {
    margin: auto;
    justify-items: center;
    font-size: 1.3em;
    margin-top: 2vh;
    color: gainsboro;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .about-details span {
    margin: auto;
    justify-items: center;
    font-size: 1.2em;
    color: bisque;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .about-details p {
    margin: auto;
    justify-items: left;
    font-size: 1em;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    color: gainsboro;
    margin-left: 12vw;
    margin-right: 12vw;
  }

  /**
    **About me Container
    */
  /* /******************************************************************************* */
  /**
    **Skills Container
    */

  .heading {
    margin: auto;
    color: rgb(255, 210, 167);
    justify-items: center;
    font-size: 1.5em;
    margin-top: 1vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .details {
    color: #bc8941;
    padding: 2% 0%;
    border-bottom: solid #fff 2px;
    width: 90%;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }


  /* /******************************************************************************* */

  .skills--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

  .tabs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
  }


  .cardFooter{
    margin: auto;
    justify-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 1vh;
  }
}



/* /******************************************************************************* */
/* For screens larger than 768px (e.g., laptops and desktops) */
@media (min-width: 768px) {

  /**
    **Wallpaper #Homepage
    */
  .wallpaper-container {
    height: 91.5vh;
  }

  .homepage {
    width: 60vw;
    text-align: end;
    /* padding: 50px; */
  }

  .homepage h1 {
    font-size: 36px;
  }

  .homepage p {
    font-size: 20px;
    margin-bottom: 12px;
  }

  /* Add a padding around the content to avoid being too close to the edges */
  .homepage>* {
    padding: 10px;
  }
 .cardFooter{
    margin: auto;
    justify-items: center;
    justify-content: center;
     font-size: 1em;
    margin-top: 1vh;
  }
  .wallpaper-container {
    background-size: cover;
    height: 50vh;
    width: 100vw;
    /* Adjust the height for larger screens */
  }

  /**
      **Wallpaper #Homepage
      */
  /* /******************************************************************************* */
  .skill-card {
    overflow: visible;
    padding: 0.5rem;
    background-color: beige;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    flex-shrink: 0;
  }

  .skill-image {
    object-fit: fill;
    border-radius: var(--units-unit-0, 8em);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Adjust as needed for responsiveness */
    gap: 4rem;

    margin: 20px;
    /* Add more grid styling if necessary */
  }



  .homepage {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    /* height: 100%; */
    width: 100vw;
    margin: auto;
    margin-top: 26vh;
    text-align: justify;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

  }


  /* Styles for the welcome message */
  .homepage h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /* Styles for the description */
  .homepage p {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); Adjust the transparency as needed */
  }



  /* /******************************************************************************* */


  /**
        **About me Container
    */
  .head h1 {
    margin: auto;
    color: bisque;
    justify-items: center;
    font-size: 4em;
    margin-top: 10vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  .about-details h3 {
    margin: auto;
    justify-items: center;
    font-size: 1.6em;
    margin-top: 2vh;
    color: gainsboro;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .about-details span {
    margin: auto;
    justify-items: center;
    font-size: 1.6em;
    color: bisque;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .about-details p {
    margin: auto;
    justify-items: left;
    font-size: 1.8em;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    color: gainsboro;
    margin-left: 12vw;
    margin-right: 12vw;
  }

  /**
       **About me Container
  */


  /* /******************************************************************************* */


  /**
      **Skills Container
  */

  .heading {
    margin: auto;
    color: bisque;
    justify-items: center;
    font-size: 3em;
    margin-top: 5vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .heading-details {
    color: #bc8941;
    padding: 2% 0%;
    justify-items: center;
    text-align: center;
    border-bottom: solid #fff 2px;
    width: 90%;
    margin: auto;
    font-size: 1.6em;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .skills--container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .skills-card {
    width: 70vw;
    min-height: 53vh;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 19px 38px rgba(82, 82, 82, 0.3), 0 15px 12px rgba(107, 107, 107, 0.22);

  }

  .skill-card {
    overflow: visible;
    padding: 0.5rem;
    background-color: rgb(213, 252, 255);
    border-radius: 100%;
    width: 8em;
    height: 8em;
    flex-shrink: 0;

  }

  .skill-image {
    object-fit: fill;
    border-radius: var(--units-unit-0, 8em);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* /******************************************************************************* */


  .certification-card {
    width: 70vw;
    height: 60vh;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 19px 38px rgba(82, 82, 82, 0.3), 0 15px 12px rgba(107, 107, 107, 0.22);

  }

}

.wallpaper-container {
  background-image: url('../images/mainBackgroudImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 98.8vw;
  height: 91.5vh
    /* Adjust the height to fit the viewport */
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  /* height: 100%; */
  width: 99vw;
  margin: auto;
  margin-top: 26vh;
  text-align: justify;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;

}


/* Styles for the welcome message */
.homepage h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styles for the description */
.homepage p {
  font-size: 20px;
  margin-bottom: 12px;
}

.homepage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Adjust the transparency as needed */
}

/* Add a padding around the content to avoid being too close to the edges */
.homepage>* {
  padding: 10px;
}

.button-container {
  opacity: 5;
  transition: opacity 5s ease;
  /* Set the transition property to achieve the fade-in effect */
}

.fade-in {
  opacity: 5;
}

/* Styles for the button container */
.button-container {
  opacity: 1;
  /* Change opacity value to 1 for full visibility */
  transition: opacity 0.5s ease;
  /* Shorten the transition duration */
}

/* Fade-in effect for the button container */
.fade-in {
  opacity: 1;
  /* Change opacity value to 1 for full visibility */
}


/* style.css */
.about-me-container {
  padding: 10px;
  background-color: rgb(143, 143, 143);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 14vh;
  margin-bottom: 14vh;
  margin-left: 20vw;
  margin-right: 20vw;
  /* margin: auto; */
  max-width: 70vw;
}

.details {
  margin-left: 12vw;
  margin-right: 12vw;
}



.center {
  margin: auto;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.skills-container {
  text-align: center;
  padding: 20px;
}

.tabs-list {
  width: 100%;
}



/* style.css */

.skills-container {
  /* Add container styling as needed */
  margin: auto;
  align-items: center;
  justify-content: space-around;
}


.certification-container {
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contact-me-card {
  width: 65vw;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.label {
  font-weight: bold;
  margin-right: 10px;
}